@import "_normalize.css";
//@import "bourbon/_bourbon.scss";
//@import "base/_base.scss";
//@import "neat/_neat.scss";
@import "bourbon/_bourbon";
@import "base/base";
@import "neat/neat";
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300, 400,700');

/* azah.github.io/cowapi
 * 
 * Landing page for github.com/azah/cowapi
 * Intro + API docs
*/

// Colors
$river: rgb(52, 152, 219);
$darkgrey: rgb(80, 80, 80);
$mainColor: rgb(22, 160, 133);

// Vars
$medium-screen: 600px;
$large-screen: 900px;

// Mixins
@mixin horizontal-list($list-margin: 0 8px 0 0) {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    position: relative;
    margin: $list-margin;
    padding: 0;
    &:last-of-type {margin-right: 0;}
    a {
      display: inline-block;
      &:hover {
        cursor: pointer;
        cursor: hand;
      }
    }
  }
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: rgb(248, 248, 248);
}

a, a:hover {
  color: $mainColor;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  font-family: 'Work Sans', $font-stack-system;
  padding-top: 25px;
  margin-bottom: 15px;
}

#navigation {
  @include grid-container;
  $nav-height: 40px;
  padding-top: 5px;

  #container {
    @include grid-container;
    max-width: 70vw;
    @include margin(0 auto);

    height: $nav-height;

    #nav {
      text-align: center;
      line-height: $nav-height;
      max-width: 70vw;
      margin: 0 auto;
      float: none; 

      ul {
        @include horizontal-list;
        @include margin(0 auto);

        text-align: center;
        font-size: 2em;
        line-height: $nav-height;

        #title {
          font-weight: bold;
        }

        li {
          font-weight: 300;
        }
      }
    }
  }
}

section#endpoints {
  @include grid-container;
  .vertical-tabs-container {
    @include clearfix;
    @include grid-column(12);

    float: none;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;

    $medium-screen: 30em !default;
    $vertical-tabs-height: 1000px;


    .vertical-tabs {
      display: none;

      @media (min-device-width: $medium-screen) {
        display: inline;
        float: left;
        height: $vertical-tabs-height;
        width: 20%;
      }
    }

    .js-vertical-tab, .vertical-tab {
      &:hover, &:focus {
        outline: none;
      }
    }

    .vertical-tab {
      @media (min-device-width: $medium-screen) {
        display: block;
      }
    }

    .vertical-tab-content-container {
      display: block;

      @media (min-device-width: $medium-screen) {
        width: 80%;
        height: $vertical-tabs-height;
        display: inline-block;
      }
    }

    .vertical-tab-content {
      @media (min-device-width: $medium-screen) {
        display: none;
      }
      pre code {
        white-space: pre-wrap;
      }
    }

    .vertical-tab-accordion-heading {
      cursor: pointer;
      display: block;

      @media (min-device-width: $medium-screen) {
        display: none;
      }
    }
  }
}
