@import "_normalize.css";
//@import "bourbon/_bourbon.scss";
//@import "base/_base.scss";
//@import "neat/_neat.scss";
@import "bourbon/_bourbon";
@import "base/base";
@import "neat/neat";
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300, 400,700');

/* azah.github.io/cowapi
 * 
 * Landing page for github.com/azah/cowapi
 * Intro + API docs
*/

// Colors
$river: rgb(52, 152, 219);
$darkgrey: rgb(80, 80, 80);
$mainColor: rgb(22, 160, 133);

// Vars
$medium-screen: 600px;
$large-screen: 900px;

// Mixins
@mixin horizontal-list($list-margin: 0 8px 0 0) {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    position: relative;
    margin: $list-margin;
    padding: 0;
    &:last-of-type {margin-right: 0;}
    a {
      display: inline-block;
      &:hover {
        cursor: pointer;
        cursor: hand;
      }
    }
  }
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: rgb(248, 248, 248);
}

code {
  background-color: rgb(235, 235, 235);
  padding: 2px;
  border-radius: 4px;
  margin-bottom: 10px;
  display: inline-block;
}

a, a:hover {
  color: $mainColor;
}
a:hover {
  text-decoration: underline;
}

hr {
  padding-top: 30px;
}

.nav-logo {
  font-weight: 700;
  text-decoration: none;
  color: black;
  padding-top: 5px;
}

.navigation-centered {
  $large-screen: 50em !default;
  $centered-navigation-height: 60px;
  $centered-navigation-logo-height: 2em;

  width: 100%;

  // Mobile view
  .mobile-logo {
    display: inline;
    float: left;
    
    @include grid-media((media: $large-screen)) {
      display: none;
    }

    img {
      max-height: $centered-navigation-logo-height;
    }
  }

  .navigation-centered-mobile-menu {
    float: right;
    padding-top: 0.5em;
    padding-right: 1em;

    &:focus {
      outline: none;
    }

    @include grid-media((media: $large-screen)) {
      display: none;
    }
  }

  // Nav menu
  .navigation-centered-wrapper {
    @include clearfix;
    @include grid-container;
    position: relative;
  }

  ul.navigation-centered-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;

    &.show {
      display: block;
    }

    @include grid-media((media: $large-screen)) {
      display: block;
      text-align: center;
    }
  }

  // Nav items
  ul li.nav-link {
    display: block;
    text-align: right;
    width: 100%;

    a, h1{
      display: inline-block;
      padding-right: 1em;
      text-decoration: none;
      font-size: 1.3em;
      &:focus {
        outline: none;
      }
      &:hover {
        text-decoration: underline;
      }
    }

    @include grid-media((media: $large-screen)) {
      display: inline;

      a {
        padding-right: 1em;
      }
    }
  }

  // Centered logo
  li.logo.nav-link {
    display: none;
    line-height: 0;

    @include grid-media((media: $large-screen)) {
      display: inline;
    }
  }

  .logo img {
    margin-bottom: -$centered-navigation-logo-height / 3;
    max-height: $centered-navigation-logo-height;
  }
}


section#readme{
  @include grid-container;
  @media (max-device-width: 480px) {
    max-width: 85vw;
  }
  @media (max-device-width: $medium-screen) {
    max-width: 75vw;
  }
  max-width: 80vw;
  margin: 0 auto;
  padding-top: 30px;

  #text {
    @include grid-column(10);
    max-width: 99%;
    margin: 0 auto;
    float: none !important;
    font-family: 'Work Sans', $font-stack-system;

    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-weight: normal;
      text-decoration: underline;
    }
  }
}

section#endpoints {
  .vertical-tabs-container {
    @include grid-container;

    $base-border-color: gainsboro !default;
    $base-border-radius: 3px !default;
    $base-background-color: white !default;
    $base-line-height: 1.5em !default;
    $base-spacing: 1.5em !default;
    $medium-screen: 40em !default;
    $vertical-tabs-height: 18.75em;
    $vertical-tab-mode: $medium-screen;
    $media: (media: $vertical-tab-mode);
    $gutter: 10px;

    @include clearfix;

    li {
      list-style: none;
    }
    
    h1 {
      text-decoration: underline;
    }

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    .vertical-tabs {
      padding-top: 50px;
      @include grid-column(3);

      font-family: 'Work Sans', $font-stack-system;
      display: none;
      a.is-active {
        font-weight: bold;
      }

      @include grid-media($media) {
        display: inline;
        float: left;
        height: $vertical-tabs-height;
        width: 20%;
      }
    }

    .vertical-tab {
      @include grid-media($media) {
        display: block;
        margin-right: -1px;
        padding: 5px 0px;

        &.is-active {
          margin-right: -1px;
        }
      }
    }

    a.vertical-tab-accordion-heading,
    a.vertical-tab {
      color: $dark-gray;
    }

    .vertical-tab:focus {
      outline: none;
    }

    .vertical-tab-content-container {
      @include grid-column(9);

      & a:focus {
        outline: none;
      }

      @include grid-media($media) {
        height: $vertical-tabs-height;
        display: inline-block;
      }
    }

    .vertical-tab-content {
      padding: $base-spacing $gutter;

      p {
        color: $base-font-color;
        line-height: $base-line-height;
      }
      pre code {
        background-color: rgb(238, 238, 238);
      }

      @include grid-media($media) {
        border: 0;
        display: none;
      }
    }

    .vertical-tab-accordion-heading {
      cursor: pointer;
      display: block;
      padding: $base-spacing / 2 $gutter / 2;

      &:focus,
      &:hover {
        color: $action-color;
      }

      &:first-child {
        border-top: 0;
      }

      &.is-active {
        border-bottom: 0;
      }

      @include grid-media($media) {
        display: none;
      }
    }
  }
}
